/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/mix-manifest.json
/public/vendor
/storage/*.key
/storage/framework/disposable_domains.json
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper*
